---
Title: BBT.Maybe
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">BBT.StrategyPattern</h1>
        <p>
            An option type implementation for .NET<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="/BBT.Maybe/docs" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="/BBT.Maybe/api/BBT.Maybe" role="button">API documentation</a>
    </div>
</div>

<div class="container">
    <p style="height: 35px;">
        <img alt="GitHub" src="https://img.shields.io/github/license/bbtsoftware/BBT.Maybe">
        <img alt="GitHub release (latest SemVer)" src="https://img.shields.io/github/v/release/bbtsoftware/BBT.Maybe">
        <img alt="Nuget" src="https://img.shields.io/nuget/dt/BBT.Maybe">
    </p>

    <p>
        BBT.Maybe is an option type for .NET.
    </p>
</div>